

<h1 id='login_title'> Log in</h1>
<h4>
  <div class='input' align='center'>
  <section id='log in'>
    <form action='/sessions' method='post'>
    <label for='email'>Email
    <input type='email' name='email' required  />
    </label>
    <label for='password'>Password
    <input type='password' name='password' required  />
   </label>
   <button class='button' type='submit' value='Log in'>Log in</button>
  </form>
  </section>
</div>
</div>
</h4>
