<h1 id='login_title'> Please log in below </h1>

<div class='rowSec'>
 <section id='log in'>
 <form action='/sessions/log_in' method='post'>
   <label for='email'>Email
     <input type='email' name='email' required  />
   </label>
   <label for='password'>Password
     <input type='password' name='password' required  />
   </label>
   <input type='submit' value='Log in'  />
 </form>
</section>
</div>
