<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/main.css'>
    <link href="https://fonts.googleapis.com/css?family=Nixie+One|Hind|Emblema+One" rel="stylesheet">
  </head>

  <div class='col-12 flow_buttons'>
    <form action="/users/new">
      <input class='button' id='sign up' type="submit" value="Sign up">
    </form>
  </div>

<h1 id='login_title'> Log in</h1>
<h4>
  <div class='input' align='center'>
  <section id='log in'>
    <form action='/sessions' method='post'>
    <label for='email'>Email
    <input type='email' name='email' required  />
    </label>
    <label for='password'>Password
    <input type='password' name='password' required  />
   </label>
   <button class='button' type='submit' value='Log in'>Log in</button>
  </form>
  </section>
</div>
</div>
</h4>

</html>
