
  <div class='col-12 flow_buttons'>
    <form action="/apartments">
      <input class='button' id='view apartments' type="submit" value="View listings">
    </form>
    <form action="/sessions/new">
      <input class='button' id='log in' type="submit" value="Login">
    </form>
  </div>



</div>
  <h1>EEEK. B&B </h1>
  <h2> Please sign up below </h2>
</div>
<% if flash[:errors] && !flash[:errors].empty? %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<div class='sign_up_box'>
<h4>
<div class='input' align="center">
 <form action='/users' method='post'>
   <label for='first_name'>First Name
     <input type='text' name='first_name' required />
   </label>
   <label for='last_name'>Last Name
     <input type='text' name='last_name' required  />
   </label>
   <label for='email'>Email
     <input type='email' name='email' required  />
   </label>
   <label for='password'>Password
     <input type='password' name='password' required  />
   </label>
   <label for='password_confirmation'>Password Confirmation
     <input type='password' name='password_confirmation' required  />
   </label>
   <button class ='button' align='center'>Sign up</button>
 </div>
 </form>
 </h4>
 </div>
