<div class='container'>
  <h2> <%= @listing.name %> </h2>
    <form action='/booking' method='post'>
      <input type='text' name = 'from' id='datepicker_from' />
      <input type='text' name = 'to' id='datepicker_to'/>
      <input type='hidden' name='listing_id' value=<%= @listing.id %> />
      <input class='button' type='submit' value='Request booking' />
    </form>
</div>


<script>
$( document ).ready(function() {

  $( function() {
    $( "#datepicker_from" ).datepicker({
        dateFormat: "dd-mm-yy",
        beforeShowDay: function(date) {
        var disableddates = <%= @listing.unavailable_dates.map {|date| date.strftime("%Y-%m-%d")} %>;
        var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
        return [ disableddates.indexOf(string) == -1 ]
      }
    });
    $( "#datepicker_to" ).datepicker({
        dateFormat: "dd-mm-yy",
        beforeShowDay: function(date) {
        var disableddates = <%= @listing.unavailable_dates.map {|date| date.strftime("%Y-%m-%d")} %>;
        var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
        return [ disableddates.indexOf(string) == -1 ]
      }
  });
});
});
</script>
