<!DOCTYPE html>
<html>
  <head>
    <title>EEKbnb</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <%= yield %>
  </body>
</html>
