<!DOCTYPE html>
<html>
  <head>
    <title>EEKbnb</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src='/public/datepicker.js'></script>
    <%= yield %>
  </body>
</html>
