<%= current_user.first_name %>

Requests I've made
<% current_user.bookings.each do |booking| %>
  <%= booking.listing.name %>
<% end %>

Requests I've received
<% current_user.listings.bookings.each do |booking| %>
  <%= booking.listing.name %>
  <% if booking.confirmed == false %>
       <form action = '/profile/requests/confirm' method ='post'>
         <input type='submit' name='confirm' value='Confirm booking'/>
         <!-- <input type='submit' name='refuse' value='Reject booking'/> -->
         <input type='hidden' name='booking_id' value='<%=booking.id%>'/>
       </form>
  <% elsif booking.confirmed == true %>

    Booking confirmed.
  <% end %>
<% end %>
