<h1>Hello, <%=current_user.first_name%></h1>

<% if flash[:listing_error] && !flash[:listing_error].empty? %>
  <% flash[:listing_error].each do |error| %>
    <%= error %>
  <% end %>
<% end %>


<form action="/apartments/new" >
  <input type="submit" value="Add a property">
</form>
