<form action="/apartments" method="post">
    <label for='property_name'>Property name:
      <input type='text' name='property_name' required  />
    </label>

    <label for='description'>Description:
      <input type='text' name='description' required  />
    </label>

    <label for='price'>Price per night:
      <input type='text' name='price' required  />
    </label>

      <input type='submit' value='Submit' required  />
</form>
